gen/*.img
gen/*/images
gen/*/dist/update/linux
gen/*/dist/update/initrd.img
gen/*/dist/update/modules.sqf
gen/*/dist/update/firmware.sqf
gen/*/dist/update/root.sqf
gen/*/dist/update/run.sqf
gen/*/dist/update/install.sqf
gen/*/dist/update/bash
gen/*/dist/update/busybox
gen/*/dist/update/toybox
gen/*/dist/updates
