a[href] ~ .list_artifacts {
    display: none;
}

.artifact > a ~ br {
    display: none;
}

.artifact > a[href] ~ br {
    display: inline;
}

.build_table tbody tr {
    border-top: 1px solid;
}

.build_table tbody tr:hover {
    background-color: #ffff99;
}

.build_table td, .build_table th {
    border-right: 1px solid;
    padding: 10px;
    text-align: left;
    white-space: nowrap;
}

.build_table td:last-child, .build_table th:last-child {
    border-right: none;
    width: 99%;
}

.build_table {
    border-collapse: collapse;
    width: 100%;
}

#builds.branches_release > .build_info {
    display: none;
}

#builds.branches_release > .build_info[class*=" v"] {
    display: table-row;
}

#builds.branches_release > .build_info[class*=":"] {
    display: none;
}

#spinner {
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;

/* http://www.designcouch.com/home/why/2013/05/23/dead-simple-pure-css-loading-spinner/ */
height:30px;
width:30px;
margin:0px auto;
-webkit-animation: rotation .6s infinite linear;
-moz-animation: rotation .6s infinite linear;
-o-animation: rotation .6s infinite linear;
animation: rotation .6s infinite linear;
border-left:6px solid rgba(0,174,239,.15);
border-right:6px solid rgba(0,174,239,.15);
border-bottom:6px solid rgba(0,174,239,.15);
border-top:6px solid rgba(0,174,239,.8);
border-radius:100%;
}

@-webkit-keyframes rotation {
from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
from {-moz-transform: rotate(0deg);}
to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
from {-o-transform: rotate(0deg);}
to {-o-transform: rotate(359deg);}
}

@keyframes rotation {
from {transform: rotate(0deg);}
to {transform: rotate(359deg);}
}

